// ALERTS

.alert {
	position: relative;
	padding: 10px 30px 10px 20px;
	background-color: @silver;
	color: @black;
	border-bottom: 1px dashed @white;
	border-bottom-color: rgba(255, 255, 255, .8);
}

.alert.blue {
	color: @white;
	background-color: @blue;
}

.alert.green {
	color: @white;
	background-color: @green;
}

.alert.orange {
	color: @white;
	background-color: @orange;
}

.alert.red {
	color: @white;
	background-color: @red;
}

.alert.purple {
	color: @white;
	background-color: @purple;
}

.alert.lime {
	color: @white;
	background-color: @lime;
}

.alert.dragonfruit {
	color: @white;
	background-color: @dragonfruit;
}

.alert.cosmic {
	color: @white;
	background-color: @cosmic;
}

.alert:last-of-type {
	border: none;
}

.alert.warning-light:before {
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
	font-family: "FontAwesome";
	color: @white;
	content: '\f071';
}

.alert.warning-dark:before {
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
	font-family: "FontAwesome";
	color: @darkgray;
	content: '\f071';
}

.alert:empty {
	display: none;
}

.alert.alert-flat {
	border: none;
	background-image: none;
	.box-shadow-none();
}

.alert .alert-close {
	position: absolute;
	top: 3px;
	right: 7px;
}

// ALERT CLOSE BUTTONS

.alert .alert-close {
	color: #d3d3d3;
}

.alert .alert-close:hover {
	color: darken(#d3d3d3, 40%);
}

.alert.alert-blue .alert-close,
.alert.alert-green .alert-close,
.alert.alert-orange .alert-close,
.alert.alert-red .alert-close,
.alert.alert-purple .alert-close,
.alert.alert-lime .alert-close,
.alert.alert-dragonfruit .alert-close, {
	color: @white;
}

.alert.alert-blue .alert-close:hover,
.alert.alert-green .alert-close:hover,
.alert.alert-orange .alert-close:hover,
.alert.alert-red .alert-close:hover,
.alert.alert-purple .alert-close:hover,
.alert.alert-lime .alert-close:hover,
.alert.alert-dragonfruit .alert-close:hover, {
	color: darken(@white, 66%);
}

// BANNERS

.banners {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	margin: 0;
	padding: 0;
	list-style: none;
}

.banners li {
	display: none;
	margin: 0;
	padding: 6px 60px 6px 40px;
	font-size: 0.8em;
	line-height: 1.8;
	color: @white;
	background-color: #4a4a4a;
	opacity: .90;
	border-bottom: 1px solid #383838;
	border-bottom: 1px solid rgba(255,255,255,.1);
	
}

.banners li:last-child {
	border: none;
}

.banners li a {
	position: absolute;
	right: 34px;
	color: @white;
	text-decoration: none;
}

.banners li a:hover {
	color: @green;
}

// BANNER BLUE

.banners.banners-blue li {
	background-color: @blue;
	color: black;
}

.banners.banners-blue li a {
	color: @white;
}

.banners.banners-blue li a:hover {
	color: @dragonfruit;
}

// BANNER GREEN

.banners.banners-green li {
	background-color: @green;
	color: black;
}

.banners.banners-green li a {
	color: @white;
}

.banners.banners-green li a:hover {
	color: @dragonfruit;
}

// BANNER ORANGE

.banners.banners-orange li {
	background-color: @orange;
	color: black;
}

.banners.banners-orange li a {
	color: @white;
}

// BANNER RED

.banners.banners-red li {
	//background-color: #ea3957;
	//background-color: saturate(mix(@red, rgba(255,0,141,1), 80%), 10%);
	background-color: saturate(@red, 100);
	background-color: @red;
}

.banners.banners-red li a {
	color: @white;
}

// BANNER PURPLE

.banners.banners-purple li {
	background-color: @purple;
	color: black;
}

.banners.banners-purple li a {
	color: @white;
}

// BANNER LIME

.banners.banners-lime li {
	background-color: @lime;
	color: black;
}

.banners.banners-lime li a {
	color: @white;
}

// BANNER DRAGONFRUIT

.banners.banners-dragonfruit li {
	background-color: @dragonfruit;
}

.banners.banners-dragonfruit li a {
	color: @white;
}

.banners.banners-blue li,
.banners.banners-green li,
.banners.banners-orange li,
.banners.banners-red li,
.banners.banners-purple li,
.banners.banners-lime li,
.banners.banners-dragonfruit li {
	border-bottom: 1px solid #f7f7f7;
}

.badge {
	font-size: 11px;
	padding: 4px 7px;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border: 1px solid darken(#fefefe, 30%);
	font-weight: 400;
	line-height: 0;
	.linear-gradient(top, #fefefe, darken(#fefefe, 10%), 100%, darken(#fefefe, 13%));
	.border-radius(20px);
}

.badge:empty {
	display: none;
}

.badge.badge-blue {
	color: @white;
	border: 1px solid darken(@blue, 30%);
	.linear-gradient(top, @blue, darken(@blue, 20%), 100%, @blue);

}

.badge.badge-green {
	color: @white;
	border: 1px solid darken(@green, 30%);
	.linear-gradient(top, @green, darken(@green, 20%), 100%, @green);
}

.badge.badge-orange {
	color: @white;
	border: 1px solid darken(@orange, 30%);
	.linear-gradient(top, @orange, darken(@orange, 20%), 100%, @orange);
}

.badge.badge-red {
	color: @white;
	border: 1px solid darken(@red, 30%);
	.linear-gradient(top, @red, darken(@red, 20%), 100%, @red);
}

.badge.badge-purple {
	color: @white;
	border: 1px solid darken(@purple, 30%);
	.linear-gradient(top, @purple, darken(@purple, 20%), 100%, @purple);
}

.badge.badge-lime {
	color: @white;
	border: 1px solid darken(@lime, 30%);
	.linear-gradient(top, @lime, darken(@lime, 20%), 100%, @lime);
}

.badge.badge-dragonfruit {
	color: @white;
	border: 1px solid darken(@dragonfruit, 30%);
	.linear-gradient(top, @dragonfruit, darken(@dragonfruit, 20%), 100%, @dragonfruit);
}

.badge.badge-flat {
	border: none;
	background-image: none;
}

/* Notification */

.notifications {
	list-style: none;
	padding: 0 10px 10px 10px;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	max-width: 100%;
	z-index: 9000;
}

.notifications > a {
	color: @black;
}

.notifications .notification {
	overflow: hidden;
	margin: 14px 0 0 0;
	opacity: 0;
	background-color: #f7f7f7;
	padding: 10px;
	height: 90px;
	width: 100%;
	max-width: 340px;
	font-size: 80%;
	text-align: justify;
	.box-shadow(~'', 0, 0, 1px, 0, rgba(0, 0, 0, .3));
	.border-radius(2px);
	.transition(all, .8s, ease-out);
}

.notifications .notification.show {
	opacity: 1;
}

.notifications .notification a.close {
	float: right;
	font-size: 200%;
	line-height: 1;
	margin-left: 10px;
	margin-bottom: 10px;
	color: #cdcdcd;
}

.notifications .notification a.close:hover {
	color: @red;
}

.notifications .notification .thumb {
	float: left;
	margin: 4px 10px 0 0;
}

.notifications .notification .thumb img {
	display: block;
	width: 55px;
	height: 55px;
	.border-radius(100px);
}

.notifications .notification .title {
	font-weight: 700;
	margin-bottom: 6px;
}

.notifications .notification .title a {
	
}

/* Dark Notification */

.notifications .notification.dark {
	background-color: #404040;
	color: @white;
}

@media only screen and (min-width: 769px) {
	
	.notifications {
		left: 20px;
		bottom: 20px;
	}
	
	.notifications .notification {
		//padding: 0 20px 20px 20px;
		width: 400px;
	}
	
	.notifications .notification a.close {
		font-size: inherit;
	}
}