//********** ********** General Colors ********** **********/
@white: #ffffff;
@black: #222222;

@lightgray: #999999;
@darkgray: #4a4a4a;
@darkergray: #404040;
@link-color: @cosmic;
@link-hover-color: lighten(@link-color, 30%);
@link-focus-color: lighten(@link-color, 10%);
@link-visited-color: lighten(@link-color, 10%);


//********** ********** Theme Colors ********** **********/

@silver: #e7e7e7;
@blue: #65b3d4;
@green: #65d49f;
@orange: saturate(lighten(#d48e6a, 7%), 36%);
//@red: #d16565;
@red: #e7637f;
@purple: #d165b3;
@lime: #7cd165;
@dragonfruit: #d16585;
@cosmic: #82576C;

//********** ********** Buttons ********** **********/

@touch-round-hover-inner-circle: #e1e1e1;

//********** ********** Forms ********** **********/

@form-color: @black;
@form-focus-color: @form-color;
@form-label-color: #595959;
@form-background-color: @white;
@form-focus-background-color: @form-background-color;
@form-border-color: #d4d4d4;
@form-focus-border-color: #838383;

@form-dark-color: @white;
@form-dark-focus-color: @black;
@form-dark-label-color: #e2e2e2;
@form-dark-background-color: #7b7b7b;
@form-dark-border-color: #c3c3c3;
@form-dark-focus-background-color: lighten(#7b7b7b, 20%);
@form-dark-focus-border-color: #c3c3c3;

//********** ********** Special Colors ********** **********/

@disabled: #aeaeae;
@copy-color: #404040;
@modal-link: #a3cbdd;
@modal-foot: #545454;
@modal-border: #bfbfbf;

//********** ********** Navigation ********** **********/

@nav-brand-color: #484848;

// Basic
@nav-basic: #222222;
@nav-basic-hover: #c4c4c4;
@nav-basic-back: @white;
@nav-basic-back-hover: @white;

// Dark
@nav-dark: @white;
@nav-dark-hover: #858585;
@nav-dark-back: #272727;
@nav-dark-back-hover: #232323;
@nav-dark-border: #999999;

//********** ********** Breadcrumbs ********** **********/

@breadcrumbs-default: #464646;
@breadcrumbs-default-link: @cosmic;
@breadcrumbs-default-link-hover: lighten(@cosmic, 20%);
@breadcrumbs-default-back: lighten(@silver, 5%);
@breadcrumbs-default-separator: #919191;
@breadcrumbs-dark: lighten(@cosmic, 20%);
@breadcrumbs-dark-link: @white;
@breadcrumbs-dark-link-hover: darken(@white, 20%);
@breadcrumbs-dark-back: #464646;

@breadcrumbs-colored: #464646;
@breadcrumbs-colored-link: @white;
@breadcrumbs-colored-link-hover: darken(@white, 20%);
@breadcrumbs-colored-separator: #6e6e6e;

//********** ********** Structure ********** **********/

@num-cols: 12;
@left-gutter: 20px;
@right-gutter: 20px;
@container-gutter: 0px;
@limit: 1200px;
@limit-bar-margins: @limit - @left-gutter - @right-gutter;